.sidebar__bottom{
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.sidebar__bottom > p{
    font-size: 13px;
    padding-bottom: 10px;
    font-weight: bold;
}